dialog {
  margin-top: 50px;
  height: 50vh;
  min-height: 300px;
  width: 50vh;
  min-width: 300px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 11px 10px 12px 8px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 11px 10px 12px 8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 11px 10px 12px 8px rgba(0, 0, 0, 0.42);
}

input[type="submit"] {
  margin: auto;
  display: block;
  margin-top: 1vh;
}

.h2-form {
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
}

label {
  display: block;
  margin: 2vh;
}

.modal-form {
  align-items: center;
  justify-content: center;
}
