
button{
    background-color: #F4CE14;
    color: #000;
    padding: 1em;
    border: none;
    border-radius: .5em;
    font-family: karla;
    font-size: 1em;
    font-weight: 300;
    width: 50%;
    
}