.menu {
  display: grid;
  background-color: #fff;
  grid-template-columns: 1fr 2fr 1fr;
}

.menuItem {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
}

.itemTop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2em;
}

.itemTop Button {
  margin: 1em 1em 1em 50%;
}

.itemBottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 2em;
  column-gap: 2em;
}

.specialItem {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto);
  border-radius: 3%;
  padding: 0;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.1);
}

.imageItem {
  width: 1fr;
  aspect-ratio: 4/3;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.imageItem img {
  width: 100%;
  max-width: 100%;
}

.itemTitle {
  margin: 1em;
}

.itemTitle h4 {
  display: inline;
  font-family: "Markazi Text", karla;
  font-weight: 400;
  font-size: 1.5em;
}

.itemTitle .priceTag {
  padding-left: 2em;
  color: #ee9972;
}

.specialItem p {
  margin: 0 1em;
  font-family: karla;
  font-size: 1.1em;
}
.orderLink {
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 600;
}
 @media ( max-width: 768px ) {
  .menu{
    display: flex;
  }
  .itemTop{
    display: block;
  }
  .itemTop h2{
    display: block;
    text-align: center;
  }
  .itemTop Button{
    display: block;
    margin: 0 auto ;
  }

  .itemBottom{
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding-top: 2rem;
    column-gap: 0;
  }
  .specialItem h4, .specialItem .orderLink{
    text-align: center;
    font-size: large;
  }
  .specialItem .truncate{
    font-size: 14px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
    max-height: 4.5rem;
  }
  .imageItem{
    display: none;
  }
 }