nav {
    background-color: #fff;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
    border-radius: 20%;
  }
  
  .nav-links li a {
    font-family: karla;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    padding: 1em;
    display: block;
    border-radius: 20%;
  }
  
  .nav-links li a:hover {
    background-color: #edefee;
  }
  